<!DOCTYPE html>
<html>
<head>
  <title>Chris</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Data', data_path %> <%= link_to 'Addresses', addresses_path %>

<%= yield %>

</body>
</html>
